* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.img-results {
  max-width: 400px;
  height: auto;
}
